.logo {
  display: inline-flex;

  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    font-size: 24px;
    line-height: 1.16;
  }
}
.logo__web {
  color: $accent-color;
}
.logo--black {
  color: black;

  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  @media screen and (max-width: calc(#{$tablet} - 1px)) {
    padding: 16px 0;
    margin: 0;
  }

  @media screen and (max-width: calc(#{$desktop} - 1px)) {
    margin-right: 88px;
  }
}
.logo--white {
  color: white;
}
