.team {
  background-color: $second-bg-color;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.team__item {
  width: calc((100% - 2 * 15px) / 1);
  margin: 15px;
  padding-bottom: 24px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: $first-bg-color;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
    padding-bottom: 30px;
  }
}
.team__text {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.18;
}
.team__title {
  color: $title-text-color;
  font-weight: 500;
}
.team__description {
  margin-top: 10px;
  margin-bottom: 16px;
}
