.work {
  padding-top: 0px;

  @media screen and (max-width: $max-tablet) {
    display: none;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.work__item {
  flex-basis: calc((100% - 6 * 15px) / 3);
  margin: 15px;
}

.work__img {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  @extend %display-flex;

  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
